@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
    
    /* z-index */
    --z-fixed: 100;


    /* Colors */
    --primary-black: #050505;
    --white-color: #FAFAFF;
    --secondary-blue: #376C93;

    /* Margins */
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;


}
*{
    box-sizing: border-box;
    font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-black);
}

/* layout */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.l-header {
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    color: var(--primary-black);
    font-weight: var(--semi-bold);
}

.nav__link:hover {
    color: var(--secondary-blue);
}

.nav__logo {
    font-weight: var(--font-bold);
}

.nav__cart {
    font-size: 1.5rem;
    margin-right: var(--mb-2);
}

.nav__toggle {
    font-size: 1.5rem;
    cursor: pointer;
}

/* showMenu */
.show {
    right: 0;
}

.active {
    color: var(--secondary-blue);
}

/* Media Queries */
@media screen and (min-width: 768px){
    body {
        margin: 0;
    }

    .nav {
        height: calc(var(--header-height) + 1rem);
        justify-content: initital;
    }

    .nav__menu {
        margin-left: 0;
    }

    .nav__list {
        display: flex;
    }

    .nav__item {
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }

    #nav-toggle{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }

}